*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(254, 254, 254, 0.5)50%,rgba(255, 255, 255, 0.5)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}


.content{
    width: 1200px;
    height: 2000px;
    margin: auto;
    color: #3e399e;
    position: relative;
    font-size: 25px;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 30px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}





.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #cc3737;
}

.content span{
    color: #0e043c;
    font-size: 65px
}

/* Your existing CSS styles here */

/* Add styles for the image container */
.image-container {
    position: fixed;
    bottom: 10px; /* Adjust the distance from the bottom as needed */
    right: 200px; /* Adjust the distance from the right as needed */
}

.image-container img {
    background-image: url("./affirmations-for-anxiety.jpg");
    background-size:cover;
    padding:px;
    max-width: 400px; /* Adjust the image size as needed */
    height: 300px;
}



